<div class="ask d-flex flex-column bd-highlight mb-3 pt-3" style="width: 18rem;">
  <p><%=@question %></p>
  <p>-You</p>
</div>
<div class="coach d-flex flex-column bd-highlight mb-3 pt-3" style="width: 18rem;">
  <p><%=@coaching %></p>
  <p>-Your coach</p>
</div>

<%=link_to "Ask a new question", ask_path %>
