<h2>Ask your coach anything:</h2>


<div class="row  align-items-center mt-3">
  <form action="answer" data-turbo="false">
      <input class="col-9" type="text" name="question">
      <input class="col-2 btn btn-primary" type="submit" value="Ask!" class="btn btn-primary">

  </form>
</div>
